/* Additional styles for cards */
.card {
  background-color: #f7dbf6;
  border: 3px solid #e5cae3;
  height: 100%;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.card-title {
  margin-bottom: 10px;
}

.card-text {
  flex-grow: 1;
}

/* Additional styles for links */
a {
  color: #f587ea;
  text-decoration: none;
}

a:hover {
  color: #ae69d4;
}

/* Additional styles for Figma designs */
.fig-card {
  display: block;
  margin-bottom: 20px;
}

/* Additional styles for figma-design */
.figma-design {
  display: flex;
  flex-wrap: wrap;
}

/* Additional styles for container */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: ;
}

/* Additional styles for iframe container */
.iframe-container {
  width: 240px;
  height: 380px;
}
/* Additional styles for jumbotron heading */
.jumbotron-heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  
}
.jumbotron {
  background-color: #f8dbf6;
}
/* Additional styles for lead text */
.lead {
  font-size: 1.25rem;
  text-align: center;
  background-color: ;
}
